@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="col_full">

                <div class="heading-block center nobottomborder">
                    <h2>About This <span>DigitalX</span> Project</h2>
                    <span>This section is about how I designed &amp; built this DigitalX Application.</span>
                </div>

                <div class="fslider" data-pagi="false" data-animation="fade">
                    <div class="flexslider">
                        <div class="slider-wrap">
                            <div class="slide"><a href="#"><img src="@Url.Content("~/Content/Images/rockrecords.jpg")" alt="About Image"></a></div>
                        </div>
                    </div>
                </div>

            </div>
            <br />

            <div class="clear"></div>

            <div class="promo promo-light bottommargin">
                <h3>Contact me today at <span>+91.22.57412541</span> or Email me at <span>sara.elizabeth.lowrie.com</span></h3>
            </div>

            <div class="clear"></div>
            <br />
            <br />

            <div class="col_one_third">

                <div class="heading-block fancy-title nobottomborder title-bottom-border">
                    <h4>Project <span>Plan</span></h4>
                </div>

                <p>
                    To start this project I needed to do a lot of research about Wcf Service &amp; how it interacts with Entity Framework &amp; Mvc.
                    I started with the front end so had a look at some modern online shopping sites &amp; the latest web design trends before I made it.
                    Next I did the backend product sections of the project and checked functionality. Third I did the checkout and then the registration &amp; login.
                    Last I did the create and view order section.
                </p>

            </div>

            <div class="col_one_third">

                <div class="heading-block fancy-title nobottomborder title-bottom-border">
                    <h4>Special <span>Techniques</span></h4>
                </div>

                <p>
                    For the header I found that non rectangular headers are becoming a trend so I used SVG to draw the uneven lines &amp; shadow.
                    I used a picture of headphones from the internet &amp; photoshop to make a logo that I think fits the DigitalX brand.
                </p>

            </div>

            <div class="col_one_third col_last">

                <div class="heading-block fancy-title nobottomborder title-bottom-border">
                    <h4>DigitalX <span>Function</span></h4>
                </div>

                <p>
                    DigitalX is an MVC online shopping application designed to so users can browse &amp; purchase listed products.
                    The app makes customers register to order products they have put in the cart but no memebership is required for browsing the products.
                </p>

            </div>

        </div>

    </div>

</section>
