@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="heading-block center nobottomborder">
    <h2><span>Contact</span> Details</h2>
</div>

<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="clear"></div>

            <div class="promo promo-light bottommargin">
                <h3>Contact me today at <span>+(64)021 130 1800</span> or Email me at <span>sara.elizabeth.lowrie.com</span></h3>
            </div>

            <div class="clear"></div>

        </div>

   </div>

</section>